version: "3.9"

services:

  mcp-server-1:
    container_name: e-commerce-mcp-server-1
    build: .
    ports:
      - "8090:8080"
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
    environment:
      SPRING_APPLICATION_NAME: e-commerce-mcp-server
      SPRING_PROFILES_ACTIVE: mcp-server-1

  mcp-server-2:
    container_name: e-commerce-mcp-server-2
    build: .
    ports:
      - "8091:8080"
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
    environment:
      SPRING_APPLICATION_NAME: e-commerce-mcp-server
      SPRING_PROFILES_ACTIVE: mcp-server-2